body{
   background-color: #F5F8FF;

}
.header-aera{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:590px ;
   
 
}
nav li{
    list-style: none;
    display: inline;
    width: 1140px;
    margin-right: 71px;
    left: 150px;
    top: 30px;
}

nav li a{
    text-decoration: none;
    position: absolute;
}


.main-container{
    width: 1140px;  
    margin: 120px auto;
}
.hero{
    display: grid;
   gap: 0px;
   grid-template-columns: repeat(2,1fr);
   margin-bottom: 100px;
}





/* out-plants-section style  */

.out-plants-section{
    text-align: center;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.subtitle{
   font-weight: 400;
   font-size: 22px;              
    color: #00000080;
}


.span{
    color: #E95A08;
}
.span-color{
    color: #E95A08;
     margin: 0 auto;
}




.card{
    width: 270px;
    border: 2px; 
    padding: 10px;
 }
.card h4{
font-size: 1.25em;
} 

.card-container p{
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 700;
}   
.card button{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #E95A08;
    
}

.Plants-Lover-Section{
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.flower-plants{
    display: flex;
}

.plant-title img{
display: flex;
margin: 0px 28px;


}
.plant-area{
    text-align: center;
    margin: 100px 0;
}
.img-style{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img-let img{
    margin-bottom: 18px;
}



.join-column{
    
    background-image: url(/assets/news-letter-bg.png);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
   
}
.join-title{
   color: rgb(255, 255, 255);
   font-size: 50px;
   font-weight: 700;
   line-height: 68px;
   align-items: center;
}
.join-column input[type="text"]{
   width: 644px;
   height: 50px;
   gap: 10;
   padding: 8px 20px 8px 20px;
   align-items: center;

}
.btn-primary{
   background-color: #E95A08;
   color: rgb(255, 255, 255);
   padding: 26px 50px;
}


.footer-area{
    width: 1140px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.website-logo a{
   
    text-decoration: none;
    color: #6B7280;
    
}

.footer-manu ul{
   list-style: none;
}
.footer-manu ul li{
    margin-bottom: 32px;
}
.footer-manu ul li a{
    text-decoration: none;
    color: #6B7280;
    
    
}
.social-icon img{
    margin-right: 10px;
}













/* smallest device */
@media screen and (max-width:576px){
    .hero{
        grid-template-columns: repeat(2,1fr);
    }
.card-section{
    grid-template-columns: repeat(2,1fr);
}

.img-style{
    grid-template-columns: repeat(1,1fr);
}
.footer-area{
    grid-template-columns: repeat(1,1fr);
}



}